#logo {
  width: 150px;
  height: 70px;
}

main {
  margin-top: 85px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: auto;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-right: 200px;
}

#userlogo {
  width: 70px;
  height: 70px;
}

.wrapper {
  width: 90%;
  background-color: transparent;
  border: 2px solid rgba(0, 23, 225, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 20px 20px 0 0;
  padding: 30px 20px;
}

.input-box input,
#email {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
  color: black;
  padding-left: 10px;
  margin-top: 20px;
}

.input-box input::placeholder {
  color: black;
}

.wrapper .remember-forgot {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 14.5px;
}

.remember-forgot a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.remember-forgot a:hover {
  text-decoration: underline;
  color: #166bcc;
}

form button {
  margin-top: 10px;
  width: 90%;
  height: 45px;
  background-color: #166bcc;
  border: none;
  outline: none;
  border-radius: 0 0 20px 20px;
  cursor: pointer;
  font-size: 16px;
  color: #ffe8e8;
  font-weight: 700;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #145ca4;
}

#coverimage {
  width: 100%;
  height: auto;
  margin-left: 220px;
}


@media screen and (max-width: 1400px) {
  #coverimage {
    width: 50%;
    margin-left: 50px;
  }

  form {
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  /* .modals {
    top: 20%;
  } */
  main {
    margin-top: 40px;
    flex-direction: column;
  }

  form {
    margin: auto;
  }

  #coverimage {
    display: none;
  }

  .input-box input {
    width: 100%;
  }

  button {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 20px 10px;
  }

  .input-box input {
    font-size: 14px;
  }
}
