$backgroundColor: #fbfdff;
$textColor: #333;
$borderLeftColor: #58b5fc;
$activeColor: #007bff;
$hoverColor: #0253cd;
$submenuBackground: #e1edf9;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  transition: margin-left 0.5s ease;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $backgroundColor;
  padding: 0 20px;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.burger {
  cursor: pointer;
}

.burger > .tab_menu {
  width: 30px;
  height: 30px;
  color: #58b5fc;
  cursor: pointer;
}

ul{
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  font-weight: bold;
}

.menu-text-tab1{
  width: 100%;
  display: block;
  padding: 15px 15px;
}

#logo {
  color: $activeColor;
  padding-left: 10px;
  font-size: 30px;
  font-weight: bold;
}

#title_header {
  text-align: right;
  font-size: 13px;
  font-weight: bold;
  margin-left: auto;
  margin-bottom: 0;
}

.navbar__li {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: $textColor;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.navbar-menu {
  width: 200px;
  background-color: $backgroundColor;
  height: calc(100vh - 60px); 
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.navbar__li-box {
  width: 100%;
}

.navbar__li-box:hover,
.navbar__li-box.active {
  border-left: 7px solid $borderLeftColor;
  cursor: pointer;
}

.submenu .navbar__li.active {
  background-color: $activeColor;
  color: white;
}

.navbar__li.active {
  background-color: $activeColor;
  color: white;
}

.navbar-menu.open {
  transform: translateX(0);
}

.navbar__list {
  list-style: none;
  padding: 0;
}


.submenu .navbar__li:hover {
  background-color: $hoverColor;
  color: white;
}

.menu-text {
  margin-left: 10px;
}

.submenu {
  list-style: none;
  padding: 0 0 0 20px;
  background-color: $submenuBackground;
}

.menu-text-tab2 {
  font-size: 14px;
  width: 100%;
  padding: 10px 0;
}

.bottom-menu {
  margin-top: auto;
}

@media (max-width: 768px) {
  .navbar-menu {
    height: auto;
    transition: transform 0.3s ease;
  }

  .navbar-menu.open {
    transform: translateY(0);
  }

  .logo {
    position: absolute;
    right: 20px;
  }

  #title_header {
    display: none;
  }
}

@media (max-width: 480px) {
  .navbar__li {
    font-size: 14px;
  }

  .menu-text-tab2 {
    font-size: 12px;
  }
}