
.revenue {
    padding: 20px 50px 20px 20px;
    width: 100%;
    background-color: #FBFDFF;
  }
  
  .tilte_revenue {
    margin-bottom: 20px;
  }
  
  .tilte_revenue h1,
  .tilte_revenue p {
    text-align: center;
  }
  
  .Row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .Column {
    display: flex;
    flex-direction: column;
  }
  
  /* Định dạng cho biểu đồ cột */
  .barChart,
  .doughnutChart {
    width: 48%; 
    height: 350px;
    padding: 0px 0px 45px 0px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px 8px 0px 0px;
    border: 1px solid #166BCC;
    border-top: 0px;
    border-bottom: 0px;
  }

  .title_xemChitiet{
    width: 100%;
    padding: 10px;
    border: none;
    border: 1px solid #166BCC;
    border-bottom: 0px;
    background-color: #F3F7FC;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    border-radius: 8px 8px 0px 0px;
  }

  .button_xemChitiet button{
    width: 100%;
    padding: 10px;
    border: none;
    border: 1px solid #166BCC;
    border-top: 0px;
    background-color: #F3F7FC;
    color: #6E707E;
    text-align: left;
    cursor: pointer;
    border-radius: 0px 0px 6px 6px;
  }

  /* ------------------ */

  .object_body {
    position: relative;
    padding: 20px;
    flex: 1 1 170px;
    background-color: #a7caff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 2px;
    transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .row_pump{
    display: flex;
  }
  .object_box {
    position: absolute;
    top: 15px;
    left: 0px;
    height: 32px;
    min-width: 30px;
    padding: 0 5px;
    text-align: center;
    font-weight: bold;
    line-height: 32px;
    background-color: orange;
    color: #fff;
  }

  .object_box::before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    right: -16px;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 16px solid orange;
  }

  .object_a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #6c757d !important;
    min-height: 80px;
    cursor: pointer;
    font-size: 20px;
  }

  .object_body:hover {
    transform: translateY(-5px) scale(1.05);
    border-color: #004bb5;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .barChart:hover,
  .doughnutChart:hover{
      transform: translateY(-2px);
      border-color: #004bb5;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      cursor: pointer;
  }

  .row_image {
      margin-bottom: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 20px;
  }
  /* ---------------- */
  .doanh_thuTable {
      margin-top: 20px;
  }

  .doanh_thu {
      width: 60%;
  }


  .ton_kho{
    width: 37%;
  }

  .borders{
    border: 2px solid #166BCC;
    border-radius: 0px 0px 9px 9px;
    border-top:  0px;
  }
  .container {
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #166BCC;
    border-bottom: 0px;
    border-radius: 9px 9px 0px 0px;
    width: 100%;
    background-color: #ffffff;
  }
  
  .date-selector {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .table-container {
    width: 100%;
    overflow-x: auto;
  }
  
  .table thead th{
    text-align: center;
    border: 0px solid #ddd;
    background-color: #f3f7fc;
    font-weight: 700;
    border-bottom: 1px solid #166bcc;
    cursor: pointer;
  }

  .table tbody td {
    text-align: center;
    padding: 10px;
    border: 0px solid #ddd;
    border-bottom: 1px solid black;
    cursor: pointer;
  }

    
  .table tbody tr:hover{
    background-color: #f3f7fc; 
    color: #0f0f0f;
    border-bottom: 1px solid #166bcc;
  }

    
  .left_sum{
    text-align: left;
    font-weight: bold;
  }

  .right_sum{
    text-align: center;
    font-weight: bold;
  }
  

@media (max-width: 768px) {
    .Row {
        flex-direction: column;
        align-items: center;
    }

    .Column {
        width: 100%;
    }

    .object_body {
        width: 90%;
    }

    .tilte_revenue h1 {
        font-size: 20px;
    }

    .tilte_revenue p {
        font-size: 14px;
    }

    .container {
      width: 95%;
    }
  
    .table-container {
      overflow-x: auto;
    }
  
    .table {
      font-size: 14px;
    }
}

.loader {
  position: fixed;
  z-index: 9999; 
  top: 40%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top-color: #1882c8; 
  animation: spin 1s infinite linear; 
}

@keyframes spin {
  0% { transform: rotate(0deg); } 
  100% { transform: rotate(360deg); } 
}

.circular {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

