
.search-container {
    display: flex;
    align-items: center;
}

.search-icon {
    color: rgb(0, 0, 0);
    margin-right: 10px;
}

.search-input {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    width: 155px;
    height: 49px;
}

.push{
    border-radius: 8px;
    border: 2px solid #166BCC;
    background: #166BCC;
    width: 155px;
    height: 49px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.Staff {
    padding: 20px;
    
}

.Staff > .Staffs{
    display: flex;
}

.firsttable {
    margin-top: 10px;
    border-top: 2px solid #166BCC;
    border-right: 2px solid #166BCC;
    border-left: 2px solid #166BCC;
    background: #fff;
    color: black;
    width: 80%;
}

.secondtable{
    margin-top: 20px;
    margin-left: 20px;
    border-top: 2px solid #166BCC;

    border-right: 2px solid #166BCC;
    border-left: 2px solid #166BCC;
    background: #fff;
    color: black;
    width: 90%;
}

.secondtable > thead > tr > th{
    background-color:#F3F7FC;
    color:  #F00;
    font-weight: 700;
}

th {
    background-color:#F3F7FC;
    color:  #00B507;
    font-weight: 700;
}

td, th{
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td:last-child {
    position: relative;
}

.iconmenu{
    text-align: right;
    padding-right: 15px;
}

.icon_secondarystate{
    position: relative;
}

#secondarystate {
    /* display: none; */
    position: absolute;
    top: 0%;
    left: 0%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#secondarystate td {
    padding: 10px;
    cursor: pointer;
}

#secondarystate td:hover {
    background-color: #f0f0f0;
}


.viewStaff, .addStaff {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1000;
    width: 90%;
    max-width: 400px;
}

.viewStaff h2, .addStaff h2 {
    text-align: center;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.send {
    color: #FFE8E8;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.send:hover {
    background-color: #004999;
}


.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* @media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-container {
        margin-top: 10px;
    }

    table {
        width: 100%;
    }

    th, td {
        font-size: 14px;
    }
} */

.chart-container {
    max-width: 50%;
    max-height: 200px; /* Adjust as necessary */
    position: relative;
    display: flex;
    flex-direction: column;
}

