
.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  font-size: 14px;
  width: 140px;
  height: 40px;
  background-color: #fbfdff;
  color: black;
  margin-right: 5px;
  transition: width 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.search-input:focus {
  box-shadow: 0 0 6px rgba(182, 147, 147, 0.3);
  width: 200px;
  background-color: #d6ebff;
  border-bottom: 1px solid #000000;
}

.push {
  border: none;
  outline: none;
  border-radius: 2px;
  background: #166bcc;
  width: 100px;
  height: 40px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.push:hover {
  box-shadow: 0 10px 20px rgba(76, 76, 90, 0.282);
  transform: scale(1.05);
  background-color: #135ba1;
}

.header_staff p {
  width: 300px;
  margin: auto;
  margin-left: 10px;
  font-weight: bold;
}

.header_staff{
  height: auto;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.firsttable {
  border-top: 1px solid #166bcc;
  background: #fff;
  color: #333;
  width: 100%;
  margin-top: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.firsttable select {
  background-color: transparent;
  color: inherit;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
}

.firsttable select:hover {
  border-bottom: 0.5px solid black;
}

.chart-container {
  width: 100%;
  max-height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

thead > tr > th {
  background-color: #f3f7fc;
  font-weight: 700;
  border-bottom: 1px solid #166bcc;
}

td, th {
  padding: 6px;
  border-bottom: 1px solid black;
}

h2{
  text-align: center;
}
tr:hover {
  background-color: #f3f7fc;
  color: #0f0f0f;
  border-bottom: 1px solid #166bcc;
}

.icon_editview {
  text-align: center;
  width: 80px;
  font-size: 20px;
}

.viewStaff, .addStaff {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 1000;
  width: 90%;
  max-width: 400px;
}

.viewStaff label, .addStaff label {
  font-weight: bold;
  width: 100%;
}

.viewShift label,
.addShift label {
  font-weight: bold;
  color: #0b6eca;
}

.viewStaff input, .viewStaff select, .addStaff input, .addStaff select {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid black;
  padding-left: 10px;
} 

.viewStaff button, .addStaff button {
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #166bcc;
  width: 88%;
  padding: 10px 10px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  margin: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.viewStaff button:hover, .addStaff button:hover {
  box-shadow: 0 10px 20px rgba(76, 76, 90, 0.282);
  transform: scale(1.05);
  background-color: #135ba1;
}

.firsttable_shift {
  border-top: 1px solid #166bcc;
  background: #fff;
  color: #333;
  text-transform: capitalize;
  width: 100%;
}

.viewShift,
.addShift {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fcfdff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  z-index: 1000;
  width: 90%;
  overflow: auto;
  max-height: 500px;
}

.viewShift input[type="datetime-local"],
.viewShift input[type="number"],
.addShift input[type="datetime-local"],
.addShift input[type="number"],
.viewShift select,
.addShift select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  background-color: #fcfdff;
}

.viewShift hr,
.addShift hr {
  border: 0.5px solid #ddd;
  margin: 10px 0;
}

/* Product and Pump Lists */
.product-item,
.pump-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.product-item select,
.pump-item select {
  flex: 1;
}

.product-it em input[type="number"],
.pump-item input[type="number"] {
  max-width: 300px;
}

.push_icon:hover,
.pull_icon:hover {
  transform: scale(1.1);
  color: #145ca4;
}

.icon_menu {
  cursor: pointer;
  font-size: 1.25em;
  transition: transform 0.3s ease, color 0.3s ease;
  margin-right: 10px;
}

.icon_menu:hover {
  transform: scale(1.1);
  color: #1ec411;
}

.pull_icon {
  cursor: pointer;
  color: #1ec411;
  font-size: 1em;
  transition: transform 0.3s ease, color 0.3s ease;
}

.push_icon {
  cursor: pointer;
  color: #f80000;
  font-size: 1em;
  transition: transform 0.3s ease, color 0.3s ease;
}

.viewShift .send,
.addShift .send {
  width: 17%;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-left: 83%;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #166bcc;
  padding: 8px 8px;
  color: #fff; 
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.viewShift .send:hover,
.addShift .send:hover {
  box-shadow: 0 10px 20px rgba(76, 76, 90, 0.282);
  transform: scale(1.05); 
  background-color: #135BA1;
}


.close_icon {
  position: sticky;
  top: 0;
  left: 0;
  cursor: pointer;
  float: right;
  z-index: 10;
  font-size: 1.5em;
  transition: transform 0.3s ease, color 0.3s ease;
}

.close_icon:hover {
  color: #ff0000;
  transform: scale(1.1);
}

.no-data{
  text-align: center;
  font-weight: bold;
  color: red;
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pagination p {
  display: flex;
  font-weight: bold;
}

.pagination-list {
  display: flex;
}

.pagination-item {
  display: inline-block;
}

.pagination-item button {
  background-color: #ffffff;
  border: none;
  padding: 8px 16px;
  margin-top: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-item button:hover {
  background-color: #f3f7fc;
}

.pagination-item.disabled button {
  background-color: #e6e6e6;
  color: black;
  cursor: not-allowed;
}

.pagination-item.active button {
  background-color: #0056b3;
  color: white;
}

.box_shift{
  margin-top: 10px;
  width: 100%;
}

.Staffs{
  display: flex;
  flex-direction: column;
}

.noLine{
  border: none;
}

.noLine{
  border-bottom: none;
  background-color: white;
  
}

.title_shift{
  margin: 0;
  max-width: 450px;
}

.rightShift{
  width: 50%;
  text-align: right;
}
/* Responsive Design */
@media (min-width: 1400px) {
  .chart-container {
    width: 40%;
  }

  .box_staff {
    width: 60%;
  }
}

@media (min-width: 768px) and (max-width: 1500px) {
  .Staffs {
    flex-direction: row;
    align-items: flex-start;
  }

  .chart-container {
    width: 30%;
  }

  .box_staff {
    width: 70%;
  }
}

@media (max-width: 900px) {
  .product-item,
  .pump-item {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width:850px) {
  .viewShift label, .addShift label{
    width: 100%;
  }
}
@media (max-width: 767px) {
  .pagination > p {
    display: none;
  }

  .pagination-item {
    width: 50%;
    text-align: center;
  }

  .viewStaff input, .viewStaff select, .addStaff input, .addStaff select {
    width: 100%;
  }

  
  .header_staff p {
    width: 100%;
    margin-left: 0px;
  }
}

@media (max-width: 480px) {
  .firsttable select {
    font-size: 14px;
  }

  .search-input {
    width: 100px;
  }

  .search-input:focus {
    width: 150px;
  }
}
